
<style>
    @import './assets/css/demo-portfolio.css';
    @import './assets/css/responsiveslides.css';
</style>
<div class="container-fluid">
    <div class="container-fluid main-content-wrap-padding pb-0">
        <div class="row">
            <div class="col-lg-1 col-md-1 main-content"></div>
            <div class="col-lg-10 col-md-10 main-content">
                <div id="title-wrap" class="d-flex justify-content-between align-items-end">
                    <div class="title-item">
                        <h1 class="title title-color text-uppercase" data-target="app-game-dev">App &amp; Game Development</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- app-game-dev -->
    <section class="sec-content mb-5" data-section="app-game-dev">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-1 col-md-1 main-content"></div>
                <div class="col-lg-10 col-md-10 main-content">
                    <h2 class="sub-title pt-3 text-uppercase">Introducing CogWorks</h2>
                    <p class="paragraph">Maybe you're looking for something from our own line of in-house developed products. Or maybe you need your own custom app developed. We can take you to the next level and give you the tools you need to succeed and look bodacious while you're at it.</p>
                    <ul id="filters" class="controls clearfix">
                        <li><span class="control addGameFilter active" data-filter="all">All</span></li>
                        <li><span class="control addGameFilter" data-filter=".addGameApp">Apps</span></li>
                        <li><span class="control addGameFilter" data-filter=".addGameGames">Games</span></li>
                        <li><span class="control addGameFilter" data-filter=".addGameTools">Tools</span></li>			
                        <li><span class="control addGameFilter" data-filter=".addElearning">E-Learning</span></li>			
                    </ul>
                    <!-- all -->
                    <div id="addGameDev">
                        <% _.each(data.model, function(val){ %>
                            <div class="portfolio mix <%= val.mixClass %>" data-cat="<%= val.dataCat %>">
                                <div class="portfolio-wrapper dksort">
                                    <img class="portfolio-img" src="<%= val.portfolioImgSrc %>" alt="" />                    
                                    <div class="label">
                                        <div class="label-text">
                                            <a class="text-title"><%= val.title %></a>
                                            <span class="text-category"><%= val.category %></span>                            
                                        </div>
                                        <div id="<%= val.modalId %>" class="thumbnailsInfo"></div>
                                        <div class="label-bg"></div>                        
                                    </div>                    
                                </div>
                                <div class="thumbnailsInfoViewer"></div>        
                            </div>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="thumbnailsInfoWrapper">
        <div class="aTable">
            <div class="aTR">
                <div class="aTD">
                    <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                                <div id="thumbnailsInfoViewer"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="./assets/js/responsiveslides.js"></script>